* {
    margin: 0;
    padding: 0;
    /* background:black; */
}

.container {

    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, grey, black);

}

.card {

    height: 30%;
    width: 30%;
    margin: 50px auto;
    border: 1px solid black;
    padding: 3px;
    background-color: black;
    position: absolute;
    top: 30%;
    left: 40%;


}

.text {

    position: absolute;
    width: 40%;
    height: 4%;
    top: 8%;
    left: 3%;
    color: deepskyblue;
    font-size: 13px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-shadow: 3px 3px 3px black;
    cursor: pointer;

}

.text :hover{

    color: red;
    transition: 2s;
}

.design {

    width: 40%;
    height: 70%;
    background-color: black;
    box-shadow: 8px 8px 8px -8px white inset;
    position: absolute;
    top: 15%;
    left: 50%;
    border-radius: 0px 90px 0px 90px;
    cursor: pointer;
}



#pic{

    width: 30px;
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: aqua;
}



.design h2{
    position: absolute;
    top: 50%;
    left: 40%;
    color: aqua;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.color{
    background: orange;
    width: 30%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 70%;
    border-radius: 20px 0px 0px 50px;
  
}

.design p{
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

